
.idea/encodings.xml
.idea/Metrics_JIRA.py.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/config.cpython-37.pyc
__pycache__/jira_process.cpython-37.pyc
jira_privatekey.pcks8
jira_privatekey.pem
jira_privatekey.pcks8
jira_privatekey.pem
jira_publickey.cer
jira_publickey.cer
jira_publickey.pem
jira_privatekey.pem
jira_privatekey.pcks8
*.xlsx
*.pem
*.pcks8
*.cer
*.pem
ProjectConfig.ini
jira_privatekey.pcks8
jira_privatekey.pem
jira_publickey.cer
jira_publickey.pem
